@model List<ResultBookingDto>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayout/_AdminLayout.cshtml";
    int count = 0;
}




<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>#</th>
                <th>Customer</th>
                <th>Check In Date</th>
                <th>Check Out Date</th>
                <th>Status</th>
                <th>Approve</th>
                <th>Reject</th>
                <th>Stand By</th>
                <th>Update</th>
                <th>Datails</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                count++;
                <tr>
                    <th>@count</th>
                    <td>@item.Name</td>
                    <td>@(((DateTime)item.Checkin).ToString("dd-MMM-yyyy"))</td>
                    <td>@(((DateTime)item.Checkout).ToString("dd-MMM-yyyy"))</td>
                    <td>
                        <span class="badge badge-primary px-2">@item.Status</span>
                    </td>
                    <td><a href="/BookingAdmin/ApprovedReservation2/@item.BookingID" class="btn btn-outline-primary">Approve</a></td>
                    <td><a href="/BookingAdmin/CancelReservation/@item.BookingID" class="btn btn-outline-danger">Reject</a></td>
                    <td><a href="/BookingAdmin/WaitReservation/@item.BookingID" class="btn btn-outline-warning">Stand By</a></td>
                    <td><a href="/BookingAdmin/UpdateBooking/@item.BookingID" class="btn btn-outline-info">Update</a></td>
                    <td><a href="/BookingAdmin/UpdateBooking/@item.BookingID" class="btn btn-outline-dark">Datails</a></td>


                </tr>
            }
        </tbody>
    </table>
</div>


